name: Android CI

on:
  pull_request:
    branches: [ "develop" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: gradle
        
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
      
    - name: Decode google services and insert into file
      env:
       DATA: ${{ secrets.GOOGLE_SERVICES_JSON }}
      run: echo $DATA | base64 -d > /home/runner/work/FinanceTracker/FinanceTracker/android/google-services.json

    - name: Build with Gradle
      run: ./gradlew assembleDebug

    - name: Build desktop version
      run: ./gradlew :desktop:build

    - name: Run detekt
      run: ./gradlew detektAll
